<div class="container">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{usuario.name}}</h5>
      <div>
        Email: {{usuario.email}}
      </div>

      <div>
        Username: {{usuario.username}}
      </div>

      <div>
        Empresa: {{usuario.company.name}}
      </div>
    </div>
  </div>
</div>
