<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Empresa</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of todo$ | async; index as i" routerLink="/{{usuario.id}}" class="linha">
      <td>
        {{ usuario.company.name }}
      </td>
      <td>{{ usuario.name }}</td>
      <td>{{ usuario.email }}</td>
    </tr>
  </tbody>
</table>
